{{ define "schedule" }}
<div style="display: flex; gap: 2em;">
    <div id="projects">
        <h2>
            Prosjekter
        </h2>
        <ul style="list-style-type: lower-latin;">
            {{ range .Projects }}
            <li>{{ .Name }}</li>
            {{end}}
        </ul>
    </div>
    <div id="users">
        <h2>
            Brukere
        </h2>
        {{ template "users" .Users }}
        <form hx-post="/schedule/user" hx-target="#users-list" hx-swap="beforeend">
            Name: <input type="text" name="name">
            <button type="submit">Lag ny bruker</button>
        </form>
    </div>
</div>
{{end}}

{{ define "users" }}
<ul style="list-style-type: lower-greek;" id="users-list">
    {{ range . }}
        {{ template "user" . }}
    {{end}}
</ul>
{{ end }}

{{ define "user" }}
<li>{{ .Name }}</li>
{{ end }}

{{ define "getschedule" }}
<table>
    <thead>
        {{ range .Template.Users }}
        <th>{{.Name}}</th>
        {{ end }}
    </thead>
    <tbody>
        {{ range .Values }}
        <tr>
            {{ range . }} <td>{{.}}</td> {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
<button hx-get="/schedule/edit" hx-target="previous table" hx-swap="outerHTML">Rediger</button>
{{ end }}

{{ define "editschedule" }}
<table>
    <thead>
        {{ range .Template.Users }}
        <th>{{.Name}}</th>
        {{ end }}
    </thead>
    <tbody>
        {{ range .Values }}
        <tr>
            {{ range . }} 
            <td><input type="number" value="{{.}}"></td> 
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
<button hx-post="/schedule/edit/1" hx-target="previous table" hx-swap="outerHTML">Lagre</button>
{{ end }}